@model ProtoEF.Models.Vessel

@{
    ViewData["Title"] = "Create Vessel";
}

<h3>@ViewData["Title"]</h3>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group form-group-sm">
                <label asp-for="VesselName" class="control-label"></label>
                <input asp-for="VesselName" class="form-control" autofocus />
                <span asp-validation-for="VesselName" class="text-danger"></span>
            </div>
            <div class="form-group form-group-sm">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index"><i class="fa fa-backward"></i>&nbsp;Back to List</a>
</div>